* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(186, 217, 228);
}

main,
.style-branding,
p {
    max-width: 1000px;
    max-height: auto;
    margin: 18px auto;
}

main p {
    background-color: rgb(95, 195, 228);
    padding: 12px 18px;
    border-radius: 100px;
    width: fit-content;
}

p {
    text-align: center;
}

h1, h2 {
    margin: 12px 0px;
}

h3 {
    margin-bottom: 24px;
}

/* link */
a {
    text-decoration: none;
    color: rgb(219, 143, 0);
}

a:hover {
    cursor: pointer;
    text-decoration: underline 3px;
}

.return, li a {
    text-decoration: none;
    color: rgb(219, 143, 0);
    background-color: rgb(97, 97, 255);
    border-radius: 100px;
    padding: 6px 10px;
    border: white 2px solid;
    font-size: 24px;
}

ul {
    display: flex;
    justify-content: space-around;
    width: 800px;
    margin: auto;
    margin-bottom: 30px;
}

li {
    list-style: none;
    margin-right: 16px;
}


/* img */
img {
    width: auto;
    height: 180px;
    margin: 8px 12px;
    border: black solid 2px;
    border-radius: 16px;
}

.logo-img,
.priority-img {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    justify-content: center;
    margin-bottom: 12px;
}

.priority-img img {
    height: auto;
    width: 300px;
}